<phpunit bootstrap="./bootstrap.php" stopOnFailure="true">
    <testsuites>
        <testsuite name="BlogLogin">
            <file>./Test/loginTest.php</file>
        </testsuite>
        <testsuite name="Blog">
            <directory>./Test/addtest/</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <!-- If Zend Framework is inside your project's library, uncomment this filter -->
        <!-- 
        <whitelist>
            <directory suffix=".php">../../library/Zend</directory>
        </whitelist>
        -->
    </filter>
</phpunit>
